@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #2B2B2B;
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: .6px;
}
.wrapper {
    margin: 0 13.54%;
    
    @media (max-width: 834px) {
        margin: 0 8.63%;
    }
    @media (max-width: 375px) {
        margin: 0 8%;
    }
}